[alias]
    br = branch
    st = status
    ci = commit
    tci = commit
    psuh = push
    co = checkout
    sum = !git log -1 && echo "Branch:" && git branch --contains
    remotes = remote -v
    branches = branch -vv
    tags = tag --list
    fuckit = reset --hard HEAD

[color]
    ui = auto

[push]
    default = current

[core]
    pager = 
    excludesfile = /Users/tim/.gitignore_global

[user]
	name = Tim Babych
	email = tim.babych@gmail.com
	signingkey = B7B9999F2C43B715

[advice]
    detachedHead = false

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[commit]
	gpgsign = true
